@import '@arc-ui/tokens/dist/index.css';

body {
  margin: 0;
}

.my-ThreeUpCards {
  display: grid;
  grid-gap: var(--arc-grid-gutter-px);
  grid-template-columns: 1fr 1fr 1fr;
}

.my-FibreSpeed {
  display: flex;
  justify-content: space-between;
}

.my-FibreSpeed > div {
  border-left: 1px solid var(--bt-color-border);
  padding: var(--arc-space-px) calc(var(--arc-space-px) * 4); /* 16px */
  width: 50%;
}

.my-FibreSpeed > div:first-child {
  border: 0;
}

.my-FibreSpeed-mbps {
  font-size: var(--arc-font-size-06-px);
  font-weight: var(--bt-font-weight-headline);
  line-height: 1;
}
